/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset end*/
*,*::before,*::after {
  box-sizing: border-box;
}
img{
  width: 100%;
  display: block;
}
/* 字體 */
.text-white{
  color: #fff;
}
.fs-w{
  font-weight: bold;
}
/* 斜體 */
.fs-italic{
  font-style: italic;
}
/* 字體大小 */
.fs-5{
  font-size: 20px;
}
.fs-6{
  font-size: 24px;
}
.fs-16{
  font-size: 64px;
}
/* 行高 */
.lh-10{
  line-height: 30px;
}
.lh-12{
  line-height: 36px;
}
.lh-14{
  line-height: 42px;
}
.lh-25{
  line-height: 75px;
}
/* margin-bottom */
.mb-1{
  margin-bottom: 8px;
}
.mb-2{
  margin-bottom: 16px;
}
.mb-3{
  margin-bottom: 24px;
}
.mb-4{
  margin-bottom: 32px;
}
.mb-5{
  margin-bottom: 40px;
}
.mb-6{
  margin-bottom: 48px;
}
.mb-7{
  margin-bottom: 56px;
}
.mb-8{
  margin-bottom: 64px;
}
.mb-20{
  margin-bottom: 160px;
}
.ml-3{
  margin-left: 24px;
}
/* Flex */
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-content-between{
  justify-content: space-between;
}

body{
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* banner */
.banner{
  background-position: center center;
  background-size: cover;
  background-image: url(../img/banner.png);
  height: 958px;
}
.banner h1{
  font-size: 80px;
  line-height: 94px;
}
/* about */
.about{
  text-align: center;
}
.about img{
  width: 384px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.aboutText{
  padding-bottom: 24px;
}
.about-border{
  width: 384px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 32px;  
  /* ↑為什麼這邊用共用類別 mb-4 會沒有作用呢? 要用 css 設定才有效果 */
  /* 原因是因為你在裡面設定了 margin: 0 auto; 覆蓋掉了比他前面設定的 CSS .mb-4 哦 */
  background-color: #000;
}
.aboutItem li:before{
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
  margin-right:16px;

}
/* myBrand */
.myBrand{
  background-color: #000;
  text-align: center;
  padding: 64px 0 160px 0;
}
.myBrandImg .col-12{
  width: 792px;
}
.myBrandImg .col-6,
.myBrandImg .col-6{
  width: 588px;
}
/* otherWorks */
.otherWorks{
  text-align: center;
}
.otherWorksItem .col-4{
  width: 384px;
}
.otherWorksItem .col-6{
  width: 588px;
}
/* contact */
.contact{
  text-align: center;
  background-color: #000;
  padding: 64px 0 80px 0;
}
.contactContent a{
  text-decoration: none;
}
.contactContent a:hover{
  color: rgb(182, 175, 175);
}